{% extends 'PancakeBundle::layout.html.twig' %}

{% block body %}
    <h1>Modifier votre mot de passe</h1>

    <div class="row">
        <div class="col"></div>

        {% if not ("ROLE_ADMIN" in connectedUser.roles) %}
            <div class="col-8">
                <p class="alert alert-danger" role="alert">Vous n'avez pas le droit d'accès à cette page</p>
            </div>
        {% else %}

            <div class="well col-5">

                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <p class="alert alert-{{ type }}" role="alert">{{ message | raw }}</p>
                    {% endfor %}
                {% endfor %}

                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                {# Les erreurs générales du formulaire. #}
                {% if form_errors(form) or form_errors(form.plainPassword.first) or form_errors(form.plainPassword.second) %}
                    <div class="alert alert-danger" role="alert">
                        {{ form_errors(form) }}
                        {{ form_errors(form.plainPassword.first) }}
                        {{ form_errors(form.plainPassword.second) }}
                    </div>
                {% endif %}

                <div class="form-group">
                    {% set label = "Nouveau mot de passe de name lastName" %}
                    {{ form_label(form.plainPassword.first, label|replace({'name': user.name, 'lastName': user.lastName}), {'label_attr': {'class': 'control-label'}}) }}

                    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'pattern': '(?=^.{8,}$)((?=.*\\d)|(?=.*\\W+))(?![.\\n])(?=.*[A-Z])(?=.*[a-z]).*$', 'placeholder': 'Nouveau mot de passe'}}) }}

                    <small class="form-text text-muted">Le nouveau mot de passe doit posséder au minimum 8 caractères avec chiffres, majuscules et minuscules.</small>
                </div>

                <div class="form-group">
                    {{ form_label(form.plainPassword.second, "Confirmer le nouveau mot de passe", {'label_attr': {'class': 'control-label'}}) }}

                    {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'pattern': '(?=^.{8,}$)((?=.*\\d)|(?=.*\\W+))(?![.\\n])(?=.*[A-Z])(?=.*[a-z]).*$', 'placeholder': 'Confirmer le nouveau mot de passe'}}) }}
                </div>

                {{ form_widget(form.save, {'attr': {'class': 'btn btn-danger'}}) }}

                {{ form_end(form) }}
            </div>

        {% endif %}

        <div class="col"></div>
    </div>
{% endblock %}