{% extends 'PancakeBundle::layout.html.twig' %}

{% block body %}

{% block entete %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Crêpes à gogo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Accueil <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Catalogue
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Crêpes</a> <!--Modifier le href quand le fichier sera créé -->
                    <a class="dropdown-item" href="#">Galettes</a> <!--Modifier le href quand le fichier sera créé -->
                    <a class="dropdown-item" href="#">Pancakes</a> <!--Modifier le href quand le fichier sera créé -->
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('contact')}}">Contact</a> <!--Modifier le href quand le fichier sera créé -->
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Panier</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Connexion
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{path('inscription')}}">Connexion</a> <!--Modifier le href quand le fichier sera créé -->
                    <a class="dropdown-item" href="{{path('inscription')}}">Inscription</a>
                </div>
            </li>

        </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<!--<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #d32f2f">
<a class="navbar-brand" href="#">Crêpe à gogo</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto">
<li class="nav-item active">
<a class="nav-link" href="#">Accueil <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
<a class="nav-link" href="#">Catalogue</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#">Contact</a>
</li>

<li class="dropdown" >
<div class="btn-group">
<button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #d32f2f;"  >
Connexion
</button>
<div class="dropdown-menu">
<a class="btn btn-lg " style="background-color: aqua" href="{{path('inscription')}}" role="button">Inscription</a>
<a class="btn btn-lg btn-success" href="{{path('inscription')}}" role="button">Connexion</a>

</div>
</div>
</li>
</ul>

<form class="form-inline my-2 my-lg-0">
<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
</div>
</nav>-->

{% endblock %}

{% block information %}
<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">Editeur</h3>
  </div>
  <div class="panel-body">Vous êtes actuellement connecté sur le site officiel de Crêpe à GoGo, édité par l'ENSIBS.</div>

<div class="panel-heading">
    <h3 class="panel-title">Droit d'auteur</h3>
  </div>
  <div class="panel-body">
  	Toute reproduction (transfert sur un autre support) des informations ou images du site web est exclusivement limité à l'usage personnel et privé des utilisateurs du réseau internet. </div>
  <div class="panel-body">
  	Toute reproduction ou utilisation de la totalité ou d'une partie substantielle des données du site web est strictement interdite et susceptible de poursuites.
  </div>
  <div class="panel-body">
  	La violation des ces dispositions impératives soumet le contrevenant, et toutes les personnes responsables, aux peines pénales et civiles prévues par la Loi française.
  </div>

  <div class="panel-heading">
    <h3 class="panel-title">Responsabilité</h3>
  </div>
  <div class="panel-body">
  	ENSIBS prend toutes les dispositions pour finir aux internautes un service de qualité et une information fiable, exacte, et exhaustive. Aucune garantié explicite ou implicite n'est néamoins apporté sur ce sujet.
  </div>

</div>
{% endblock %}

{% block javascripts %}
<script>
    (function() {
        var updateButton = document.getElementById('updateDetails');
        var cancelButton = document.getElementById('cancel');

        // Update button opens a modal dialog
        updateButton.addEventListener('click', function() {
            document.getElementById('favDialog').showModal();
        });

        // Bouton pour fermer la boîte de dialogue
        cancelButton.addEventListener('click', function() {           
            document.getElementById('favDialog').close();
            
        });

    })();
</script>

{% endblock %}

<!--
{% set check = true %}
{% if check %}
<a class="btn btn-lg btn-success" href="{{path('inscription')}}" role="button">Get started today</a>
{% else %}
<a class="btn btn-lg btn-warning" href="#" role="button">Get started tomorrow</a>
{% endif %}-->
{% endblock %}
