{% extends 'PancakeBundle::layout.html.twig' %}




{% block body %}
    {% block images %} {# block image #}    
        <h1>
            Carte des crêpes
        </h1>
        {# choix des crepes #}
        <div id="crepe-selection">
            <div class="w3-container"> {# div W3 container#}
                {% set cpt=0 %}

                {% for i in crepes %}

                    {% if cpt == 0 %}
                        <div class="row"> {# div ROW#}
                    {% endif %}

                    <div class="col-4" id="produit-liste"> {#  div col-4 #}
                   
                        {% if i.name==null %}
                            <p>Aucun produit trouvé</p>
                        {% else %}
                            <a  href="{{path('details-crepe',{ 'id': i.id})}}">
                                <div class="name">
                                    <h3>{{i.name}}</h3>
                                </div>

                                <div class="image">
                                    <img src="{{i.image}}"  alt="crêpe 1" title="Crêpe "  height="200" width="300" />
                                </div>
                            </a>

                            {# Description de l'image#}
                            <div class="description">
                                <a  href="{{path('details-crepe',{ 'id': i.id})}}">
                                    En savoir plus
                                </a>
                                <prix>{{i.price}} €</prix>
                            </div>
                            {# Remise à compteur à 0#}
                            {% if cpt < 4 %}
                                {% set cpt = cpt+1 %}
                            {% endif %}


                        {% endif %}
                </div> {# fin div col-4 #}

                {% if cpt == 3 %}
                    </div>{# fin div row #}
                    {% set cpt = 0 %}
                {% endif %}


                {% endfor %}


                {# Cas ou on n'a pas pas plus de 3 articles à la fin #}  
                {% if cpt != 3  and cpt != 0 %}
                    </div>{# fin div row #}
                {% endif %}  

        </div> {# fin div W3 container #}

    </div> {# fin div crepe selection #}
    


        <h1>
            Carte des pancakes
        </h1>
        {# choix des crepes #}
        <div id="pancake-selection">
            <div class="w3-container"> {# div W3 container#}
                {% set cpt=0 %}
                {% for i in pancakes %}
                    {% if cpt == 0  %}
                        <div class="row"> {# div ROW#}
                    {% endif %}

                    <div class="col-4" id="produit-liste"> {#  div col-4 #}
                   
                        {% if i.name==null %}
                            <p>Aucun produit trouvé</p>
                        {% else %}
                            <a  href="{{path('details-crepe',{ 'id': i.id})}}">
                                <div class="name">
                                    <h3>{{i.name}}</h3>
                                </div>

                                
                                <img src="{{i.image}}"  alt="crêpe 1" title="Pancake"  height="200" width="300" />
                                
                            </a>

                            {# Description de l'image#}
                            <div class="description">
                                <a  href="{{path('details-crepe',{ 'id': i.id})}}">
                                    En savoir plus
                                </a>
                                <prix>{{i.price}} €</prix>
                            </div>

                            {# Remise à compteur à 0#}
                            {% if cpt < 4 %}
                                {% set cpt = cpt+1 %}
                            {% endif %}


                        {% endif %}
                </div> {# fin div col-4 #}

                {% if cpt == 3 %}
                    </div>{# fin div row #}
                    {% set cpt = 0 %}
                {% endif %}


                {% endfor %}

                {# Cas ou on n'a pas pas plus de 3 articles à la fin #}  
                {% if cpt != 3  and cpt != 0 %}
                    <a> cpt fin 2 : </a>
                    <a> {{cpt}} </a>
                    </div>{# fin div row #}
                {% endif %}  

        </div> {# fin div W3 container #}

    </div> {# fin div crepe selection #}
{% endblock %} {# fin block image #}

   
{# BAS DE PAGE #}   

<div class="footer">

    <div class="copyrights">
            <p class="white-txt">Crêpe à gogo ! © 2017
                <br><br>
                
            </p>
            <hr class="dark-line">
            <a class="link" href="#">Contact Us</a>&nbsp
            <a class="link" href="#">Privacy Policy</a>&nbsp
            <a class="link" href="#">Terms & Conditions</a>

            <a href='#'><i class="fa fa-facebook fa-3x fa-fw"></i></a>
            <a href='#'><i class="fa fa-twitter fa-3x fa-fw"></i></a>
            <a href='#'><i class="fa fa-youtube-play fa-3x fa-fw"></i></a>
            <a href='#'><i class="fa fa-linkedin fa-3x fa-fw"></i></a>

            <br><br>
            <p class="white-txt small">
                Toute reproduction du site Crêpe à gogo ! est formellement interdite !
            </p>
        </div>

    
</div>
{% endblock %}{# fin block body #}



