{% extends 'PancakeBundle::layout.html.twig' %}




{% block body %}


    {# block header #}
    {% block header %}
        <img class="d-block " src="/bundles/images/logo.jpg"  alt="Logo">
    {% endblock %} {# fin block header #}


    {# block navbar #}
    {% block navbar %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" text-align="right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">


                    <li class="nav-item active" >
                        <a class="nav-link" href="{{path('home')}}">Accueil <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Catalogue
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{path('crepes')}}">Crêpes</a>
                            <a class="dropdown-item" href="#pancake-selection">Pancakes</a> {#Modifier le href quand le fichier sera créé #}
                        </div>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="{{path('contact')}}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('panier')}}">Panier</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                            Connexion
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{path('inscription')}}">Connexion</a>
                            <a class="dropdown-item" href="{{path('inscription')}}">Inscription</a>
                        </div>
                    </li>

                </ul>
            </div>
        </nav>
    {% endblock %} {# fin block navbar #}


    {% block images %} {# block image #}

        


    
        <h1>
            Carte des crêpes
        </h1>
        {# choix des crepes #}
        <div id="crepe-selection">
            <div class="w3-container"> {# div W3 container#}
                {% set cpt=0 %}

                {% for i in crepes %}

                    {% if cpt == 0 %}
                        <div class="row"> {# div ROW#}
                    {% endif %}

                    <div class="col-4" id="produit-liste"> {#  div col-4 #}
                   
                        {% if i.name==null %}
                            <p>Aucun produit trouvé</p>
                        {% else %}
                            <a  href="{{path('details-crepe',{ 'id': i.id})}}">
                                <div class="name">
                                    <h3>{{i.name}}</h3>
                                </div>

                                <div class="image">
                                    <img src="{{i.image}}"  alt="crêpe 1" title="Crêpe "  height="200" width="300" />
                                </div>
                            </a>

                            {# Description de l'image#}
                            <a> {{i.description}} </a>
                            <prix>{{i.price}} €</prix>

                            {# Remise à compteur à 0#}
                            {% if cpt < 4 %}
                                {% set cpt = cpt+1 %}
                            {% endif %}


                        {% endif %}
                </div> {# fin div col-4 #}

                {% if cpt == 3 %}
                    </div>{# fin div row #}
                    {% set cpt = 0 %}
                {% endif %}


                {% endfor %}


                {# Cas ou on n'a pas pas plus de 3 articles à la fin #}  
                {% if cpt != 3  and cpt != 0 %}
                    </div>{# fin div row #}
                {% endif %}  

        </div> {# fin div W3 container #}

    </div> {# fin div crepe selection #}
    


        <h1>
            Carte des pancakes
        </h1>
        {# choix des crepes #}
        <div id="pancake-selection">
            <div class="w3-container"> {# div W3 container#}
                {% set cpt=0 %}
                {% for i in pancakes %}
                    {% if cpt == 0  %}
                        <div class="row"> {# div ROW#}
                    {% endif %}

                    <div class="col-4" id="produit-liste"> {#  div col-4 #}
                   
                        {% if i.name==null %}
                            <p>Aucun produit trouvé</p>
                        {% else %}
                            <a  href="{{path('details-crepe',{ 'id': i.id})}}">
                                <div class="name">
                                    <h3>{{i.name}}</h3>
                                </div>

                                
                                <img src="{{i.image}}"  alt="crêpe 1" title="Pancake"  height="200" width="300" />
                                
                            </a>

                            {# Description de l'image#}
                            <div class="description">
                                <a> {{i.description}} </a>
                                <prix>{{i.price}} €</prix>
                            </div>

                            {# Remise à compteur à 0#}
                            {% if cpt < 4 %}
                                {% set cpt = cpt+1 %}
                            {% endif %}


                        {% endif %}
                </div> {# fin div col-4 #}

                {% if cpt == 3 %}
                    </div>{# fin div row #}
                    {% set cpt = 0 %}
                {% endif %}


                {% endfor %}

                {# Cas ou on n'a pas pas plus de 3 articles à la fin #}  
                {% if cpt != 3  and cpt != 0 %}
                    <a> cpt fin 2 : </a>
                    <a> {{cpt}} </a>
                    </div>{# fin div row #}
                {% endif %}  

        </div> {# fin div W3 container #}

    </div> {# fin div crepe selection #}
{% endblock %} {# fin block image #}

        

{% endblock %}{# fin block body #}
