{% extends 'PancakeBundle::layout.html.twig' %}

{% block body %}

{# Affichage détail de la crêpe #}
<br> </br>


<div id="affichage-crepe">
	<div class="w3-container"> {# div W3 container#}
		<div class="row"> {# div ROW#}
			<div class="col-6" id="image-crepe"> {# div col4#}
				<img src="{{pancake.image}}"  alt="{{ pancake.name }}" title="{{ pancake.name }}" height="400" width="500"/>
			</div> {# FIN div col4#}

			<div class="col-4" id="information-crepe"> {# div col8#}
				<h1>{{pancake.name}}</h1>
				<description>{{pancake.description}}</description></br>
				{% if pancake.promotion == true %}
					<del>
						<prixBare>{{pancake.price}} €</prixBare>
					</del>

					<br></br>
					<prixPromotion>{{pancake.price}} €</prixPromotion>
				{% else %}
					<prix>{{pancake.price}} €</prix>
				{% endif %}
				<hr class="dark-line">

				<form method="get" action="{{ path('ajouter', {'id' : pancake.id}) }}">
				    <select  class="container" name="quantity">
				        {%  for i in 1..5 %}
				            <option value="{{ i }}">{{ i }}</option>
				        {%  endfor %}
				    </select>
				    <input type="submit"  name="send" value="Ajouter au panier">
				</form>
			</div> {# FIN div col8#}
		</div> {# FIN div ROW#}
	</div>{# FIN div W3 container#}
</div> {# FIN Affichage détail de la crêpe #}




{# BAS DE PAGE #}   

<div class="footer">

    <div class="copyrights">
            <p class="white-txt">Crêpe à gogo ! © 2017
                <br><br>
                
            </p>
            <hr class="dark-line">
            <a class="link" href="#">Contact Us</a>&nbsp
            <a class="link" href="#">Privacy Policy</a>&nbsp
            <a class="link" href="#">Terms & Conditions</a>

            <a href='#'><i class="fa fa-facebook fa-3x fa-fw"></i></a>
            <a href='#'><i class="fa fa-twitter fa-3x fa-fw"></i></a>
            <a href='#'><i class="fa fa-youtube-play fa-3x fa-fw"></i></a>
            <a href='#'><i class="fa fa-linkedin fa-3x fa-fw"></i></a>

            <br><br>
            <p class="white-txt small">
                Toute reproduction du site Crêpe à gogo ! est formellement interdite !
            </p>
        </div>

    
</div>

{% endblock %} {# fin block body #}
