{% extends 'PancakeBundle::layout.html.twig' %}

{% block body %}

<img src="{{pancake.image}}"  alt="{{ pancake.name }}" title="{{ pancake.name }}"/>
<p>Nom de la crêpe : {{pancake.name}}</p>
<p>Description de la crêpe : {{pancake.description}}</p>
<p>Prix de la crêpe : {{pancake.price}}</p>

<form method="get" action="{{ path('ajouter', {'id' : pancake.id}) }}">
    <select name="quantity" class="span1">
        {%  for i in 1..10 %}
            <option value="{{ i }}">{{ i }}</option>
        {%  endfor %}
    </select>
    <input type="submit"  name="send" value="Ajouter au panier">
</form>
{% endblock %}