{% extends 'PancakeBundle::layout.html.twig' %}

{% block body %}

{# Affichage détail de la crêpe #}
<br> </br>


<div id="affichage-crepe">
	<div class="w3-container"> {# div W3 container#}
		<div class="row"> {# div ROW#}
			<div class="col-6" id="image-crepe"> {# div col4#}
				<img src="{{pancake.image}}"  alt="{{ pancake.name }}" title="{{ pancake.name }}" height="400" width="500"/>
			</div> {# FIN div col4#}

			<div class="col-4" id="information-crepe"> {# div col8#}
				<h1>{{pancake.name}}</h1>
				<description>{{pancake.description}}</description></br>
				{% if pancake.rate > 0 %}
					<del>
						<prixBare>{{pancake.price}} €</prixBare>
					</del>

					<br></br>
					<prixPromotion>{{ (pancake.price * (1- pancake.rate))|number_format(2) }} €</prixPromotion>
				{% else %}
					<prix>{{pancake.price}} €</prix>
				{% endif %}
				<hr class="dark-line">

				<form method="get" action="{{ path('ajouter', {'id' : pancake.id}) }}">
				    <select  class="container" name="quantity">
				        {%  for i in 1..5 %}
				            <option value="{{ i }}">{{ i }}</option>
				        {%  endfor %}
				    </select>
				    <input type="submit"  name="send" value="Ajouter au panier">
				</form>
			</div> {# FIN div col8#}
		</div> {# FIN div ROW#}
	</div>{# FIN div W3 container#}
</div> {# FIN Affichage détail de la crêpe #}




{# BAS DE PAGE #}   



{% endblock %} {# fin block body #}
