{% extends 'PancakeBundle::layout.html.twig' %}

{% block body %}
    <h2>Modifier votre compte</h2>

    <div class="row">
        <div class="col"></div>

        {% if user == null %}
            <div class="col-8">
                <p class="alert alert-danger" role="alert">Vous n'avez pas le droit d'accès à cette page</p>
            </div>
        {% else %}
            <div class="well col-5">
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <p class="alert alert-{{ type }}" role="alert">{{ message | raw }}</p>
                    {% endfor %}
                {% endfor %}
                
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                {# Les erreurs générales du formulaire. #}
                {{ form_errors(form) }}

                <div class="form-group">
                    {{ form_label(form.name, "Prénom", {'label_attr': {'class': 'control-label'}}) }}

                    {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.last_name, "Nom", {'label_attr': {'class': 'control-label'}}) }}

                    {{ form_widget(form.last_name, {'attr': {'class': 'form-control', 'placeholder': 'Prénom'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.email, "Email", {'label_attr': {'class': 'control-label'}}) }}

                    {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.phone, "Numéro de téléphone", {'label_attr': {'class': 'control-label'}}) }}

                    {{ form_widget(form.phone, {'attr': {'class': 'form-control', 'pattern': '^(?:0|\(?\+33\)?\s?|0033\s?)[1-79](?:[\.\-\s]?\d\d){4}$', 'placeholder': 'Numéro de téléphone'}}) }}
                </div>

                <a type="button" class="btn btn-secondary" href="{{ path('editPwd', {'id' : user.id}) }}">Changer de mot de passe</a>
                <br><br>
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                <br><br>
                <a type="button" class="btn btn-danger" href="{{ path('deleteUser', {'id' : user.id}) }}">Supprimer le compte</a>

                {{ form_end(form) }}
            </div>

        {% endif %}

        <div class="col"></div>
    </div>
{% endblock %}