{% extends 'PancakeBundle::layout.html.twig' %}

{% block body %}
    <h2>Modifier votre mot de passe</h2>

    <div class="row">
        <div class="col"></div>

        {% if user == null %}
            <div class="col-8">
                <p class="alert alert-danger" role="alert">Vous n'avez pas le droit d'accès à cette page</p>
            </div>
        {% else %}

            <div class="well col-5">

                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <p class="alert alert-{{ type }}" role="alert">{{ message | raw }}</p>
                    {% endfor %}
                {% endfor %}

                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                {# Les erreurs générales du formulaire. #}
                {% if form_errors(form) or form_errors(form.plainPassword.first) or form_errors(form.plainPassword.second) %}
                    <div class="alert alert-danger" role="alert">
                        {{ form_errors(form) }}
                        {{ form_errors(form.plainPassword.first) }}
                        {{ form_errors(form.plainPassword.second) }}
                    </div>
                {% endif %}

                <div class="form-group">
                    {{ form_label(form.oldPassword, "Ecrivez votre ancien mot de passe", {'label_attr': {'class': 'control-label'}}) }}

                    {{ form_widget(form.oldPassword, {'attr': {'class': 'form-control', 'placeholder': 'Votre ancien mot de passe'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.plainPassword.first, "Votre nouveau mot de passe", {'label_attr': {'class': 'control-label'}}) }}

                    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'pattern': '(?=^.{8,}$)((?=.*\\d)|(?=.*\\W+))(?![.\\n])(?=.*[A-Z])(?=.*[a-z]).*$', 'placeholder': 'Votre nouveau mot de passe'}}) }}

                    <small class="form-text text-muted">Votre mot de passe doit posséder un minimum de 8 caractères avec chiffres, majuscules et minuscules.</small>
                </div>

                <div class="form-group">
                    {{ form_label(form.plainPassword.second, "Confirmer votre nouveau mot de passe", {'label_attr': {'class': 'control-label'}}) }}
                    
                    {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'pattern': '(?=^.{8,}$)((?=.*\\d)|(?=.*\\W+))(?![.\\n])(?=.*[A-Z])(?=.*[a-z]).*$', 'placeholder': 'Confirmer votre nouveau mot de passe'}}) }}
                </div>

                {{ form_widget(form.save, {'attr': {'class': 'btn btn-secondary'}}) }}

                {{ form_end(form) }}
            </div>

        {% endif %}

        <div class="col"></div>
    </div>
{% endblock %}