{% extends 'PancakeBundle::layout.html.twig' %}

{% block body %}

    {% block navbar %}
        {{ parent() }}
    {% endblock %}

    {% for elem in historique %}
        <p>utilisateur : {{ elem.user.name }}, date : {{ elem.date.format('Y-m-d H:i:s') }}, quantity : {{ elem.quantity }}, pancake : {{ elem.pancakeArray.name }}</p>
    {% endfor %}
{% endblock %}
