{% extends 'PancakeBundle::layout.html.twig' %}

{% block body %}
    {# Barre déroulante des offres #}
    {% block carousel %}

    <div class="row">
        <div class="col"></div>
        
        <div class="col-8">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">

                    {% for i in pancake %}
                        
                            <li data-target="#carouselExampleIndicators" data-slide-to="{{i.id}}" class="active"></li>
                        

                    {% endfor %}

                    
                </ol>


                {# Barre déroulante d'images #}
                <div class="carousel-inner">
                    {% set cpt=1 %}
                    {% for i in pancake %}
                        
                            {% if cpt == 1 %} {# Cas du 1er  item qui doit être active #}
                                 <div class="carousel-item active">
                                    <a href="{{path('details-crepe',{ 'id': i.id})}}">
                                        <img class="d-block w-100" src="{{i.image}}" height="400"  alt=" slide {{cpt}}">
                                    </a>
                                </div>
                            {% else %}
                                <div class="carousel-item">
                                    <a href="{{path('details-crepe',{ 'id': i.id})}}">
                                        <img class="d-block w-100" src="{{i.image}}" height="400"   alt=" slide {{cpt}}">
                                    </a>
                                </div>

                            {% endif %}
                             
                            
                        {% set cpt = cpt+1 %}
                      

                    {% endfor %}



                    


                </div>  {# Fin de div #}




                {# Bouton pour les slides (gauche) #}
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>

                {# Bouton pour les slides (droite) #}
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>



            <div style="background-color:powderblue;">
                    <center>
                        <h1> Offre du jour ! </h1>
                    </center>
            </div>  
        </div>

        <div class="col"></div>         

    </div>



         
     <br></br> 
   <div class="row">

         <div class="col-4">
            <a href="{{path('crepes')}}"> 
                <div class="image">
                    <img class="d-block " src="/bundles/images/crepe.png" alt="First slide" height="200" width="300">
                </div>
                <h2> Voir nos crêpes !</h2>
            </a>
         </div>

        <div class="col-4">
            <a href="{{path('presentation')}}"> 
                <div class="image">
                    <img class="d-block " src="/bundles/images/laurier.jpg" alt="First slide" height="200" width="300">
                </div>
                <h2> Présentation du site</h2>
            </a>
         </div>


         <div class="col-4">
            <a href="{{path('crepes')}}"> 
                <div class="image">
                    <img class="d-block " src="/bundles/images/pancake.png" alt="First slide" height="200" width="300">
                </div>
                <h2> Voir nos pancakes !</h2>
            </a>
         </div>


   </div> 

                

            
    {% endblock %} {# fin block carhousel #}

    

{# BAS DE PAGE #}   

 {% endblock %} {# fin block body #}

