{% extends 'PancakeBundle::layout.html.twig' %}

{% block body %}

{% block navbar %}
    {{ parent() }}
{% endblock %}


    {%  if panier == null %}
        <p> Votre panier est vide ! </p>
        <p> Veuillez ajouter un article avant de passer une commande</p>
    {%  else %}
        {% for elem,key  in panier %}
           {% for pan in pancake %}
                {% if elem == pan.id %}
                    <p><img src="{{ pan.image }}" height="50" width="50"> {{ pan.name }}, quantité : {{ key }}, prix unitaire: {{ pan.price }}€, prix : {{ pan.price*key }}€</p>
                    <form method="get" action=" {{ path('supprimer', {'id' : pan.id}) }}">
                        <input type="submit" name="delete {{ elem }}" value="x">
                    </form>
                {%  endif %}
            {% endfor %}

        {% endfor %}
        {% for message in app.session.flashbag.get('info') %}
            <p>{{ message }}</p>
        {% endfor %}
        <p>Prix total du panier : {{ totalPrice }}€</p>
        <form method="get" action="{{ path('valider') }}">
            <input type="submit" name="valider" value="Payer la commande">
        </form>
    {% endif %}
{% endblock %}