{% extends 'PancakeBundle::layout.html.twig' %}

{% block body %}

{% block navbar %}
<<<<<<< HEAD
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{path('home')}}">Crêpes à gogo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{path('home')}}">Accueil <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Catalogue
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{path('crepes')}}">Crêpes</a>
                        <a class="dropdown-item" href="#">Galettes</a> <!--Modifier le href quand le fichier sera créé -->
                        <a class="dropdown-item" href="#">Pancakes</a> <!--Modifier le href quand le fichier sera créé -->
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('panier')}}">Panier</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Connexion
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{path('inscription')}}">Connexion</a>
                        <a class="dropdown-item" href="{{path('inscription')}}">Inscription</a>
                    </div>
                </li>

            </ul>
        </div>
    </nav>
{% endblock %}


=======
    {{ parent() }}
{% endblock %}


>>>>>>> 1b0be506d8d3fffb9d47142af2999a9b0fed6906
    {%  if panier == null %}
        <p> Votre panier est vide ! </p>
        <p> Veuillez ajouter un article avant de passer une commande</p>
    {%  else %}
        {% for elem,key  in panier %}
           {% for pan in pancake %}
                {% if elem == pan.id %}
                    <p><img src="{{ pan.image }}" height="50" width="50"> {{ pan.name }}, quantité : {{ key }}, prix unitaire: {{ pan.price }}€, prix : {{ pan.price*key }}€</p>
                    <form method="get" action=" {{ path('supprimer', {'id' : pan.id}) }}">
                        <input type="submit" name="delete {{ elem }}" value="x">
                    </form>
                {%  endif %}
            {% endfor %}

        {% endfor %}
<<<<<<< HEAD
=======
        {% for message in app.session.flashbag.get('info') %}
            <p>{{ message }}</p>
        {% endfor %}
>>>>>>> 1b0be506d8d3fffb9d47142af2999a9b0fed6906
        <p>Prix total du panier : {{ totalPrice }}€</p>
        <form method="get" action="{{ path('valider') }}">
            <input type="submit" name="valider" value="Payer la commande">
        </form>
    {% endif %}
{% endblock %}