{% extends 'PancakeBundle::layout.html.twig' %}

{% block body %}
    {% for pan in pancake %}
        <p> name : {{ pan.name }}, price : {{ pan.price }}, description : {{ pan.description }}, dispo : {{ pan.avaibility }}</p>
        <form method="get" action="{{ path('editPancake', {'id' : pan.id}) }}">
            Nom : <input type="text" name="pancakeName { pan.id }}" value="{{ pan.name}}">
            Prix : <input type="text" name="pancakePrice{{ pan.id }}" value="{{ pan.price}}">
            Description : <input type="textarea" name="pancakeDescription{{ pan.id }}" value="{{ pan.description}}">
            Disponible : <input type="checkbox" name="pancakeAvailability{{ pan.id }}" checked="{{ pan.avaibility }}">
            Image : <input type="text" name="pancakeImage{{ pan.image }}" value="{{ pan.image }}">
            <input type="submit" name="edit" value="Valider changement">
        </form>

        <form method="get" action="{{  path('removePancake', {'id' : pan.id} ) }}">
            <input type="submit" name="remove" value="x">
        </form>
    {% endfor %}
{% endblock %}