{% extends '::base.html.twig' %}


{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" text-align="right">
        <a class="navbar-brand" href="{{path('home')}}"><img class="d-block " src="/bundles/images/logo.png" alt="Crêpes à Gogo"> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Catalogue
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{path('crepes')}}">Nos Crêpes</a>
                        {% if app.user != null and ("ROLE_STAFF" in app.user.roles) %}
                            <a class="dropdown-item" href="{{path('newCrepe')}}">Ajouter une crêpe</a>
                        {% endif %}
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{path('panier')}}">Panier</a>
                </li>
                {% if  app.user != null %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ app.user.name }} {{ app.user.lastName }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('editUser',{'id' : app.user.id}) }}">Paramètres</a>
                            {% if app.user != null and ("ROLE_ADMIN" in app.user.roles) %}
                                <a class="dropdown-item" href="{{path('listUsers')}}">Administration</a>
                            {% endif %}
                            <a class="dropdown-item" href="{{ path('logout') }}">Déconnexion</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('login')}}">Connexion</a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </nav>
{% endblock %} {# fin block navbar #}

